@media (min-width: 768px) {
  .about-row {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 70%;
    border: 1px solid #d9d4d4;
    border-radius: 8px;
    margin: 10px 13%;
    padding: 8px 2%;
  }
  h1 {
    color: #333;
    text-align: center;
  }
  p {
    color: #666;
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .about-row {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 94%;
    border: 1px solid #d9d4d4;
    border-radius: 8px;
    margin: 4px 1%;
    padding: 8px 2%;
  }
  h1 {
    color: #333;
    text-align: center;
    font-size: 27px;
  }
  p {
    color: #666;
    font-size: 17px;
    
  }
}

